p {
  margin: 0;
  padding: 0;
}

.flex-vertical-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.flex-horizontal-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input {
  border: none;
  padding: 1rem;
  font-size: 16px;
  background-color: rgb(197, 195, 195);
  border-radius: 0.5rem;
  outline: none;
}

.button {
  background-color: orange;
  color: white;
  border-radius: 0.5rem;
  border: none;
  padding: 1rem 1rem;
  cursor: pointer;
}
